APP_DATA_KEY=<32-byte-base64url-key>
TIANJI_DES_KEY=<8-byte-protocol-key>
TIANJI_DES_IV=<8-byte-protocol-iv>
TIANJI_USER_ORIGIN=http://newxiaotian.tianji-inc.com
TIANJI_IOT_ORIGIN=http://iot.tianji-inc.com
TURNSTILE_SITE_KEY=1x00000000000000000000AA
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA
